<div class="p-gutter" vexContainer>
    <div class="card">
        <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="m-0 title" fxFlex="auto">Manage Your Product Attributes</h2>
        </div>
      
        <div class="py-5 px-5" fxLayout="row" fxLayout.lt-md="column">
            <mat-tab-group [@.disabled]="true">
                <mat-tab>
                    <ng-template mat-tab-label>
                        Products Attributes
                    </ng-template>
                    <!-- <div class="border-b py-1 px-2" fxLayout="row" fxLayoutAlign="start center">
                        <h2>Manage Product attributes for selling channels</h2>
                        <button class="rounded-tr rounded-br float-right" color="primary" mat-raised-button type="button" style="margin-right: 6px !important;">
                           New
                        </button>
                        <button class="float-right" color="primary" mat-raised-button type="button" style="margin-right: 6px !important;">
                           Refresh
                        </button>
                        <button class="float-right" color="primary" mat-raised-button type="button" style="margin-right: 6px !important;">
                           Close
                        </button>
                      </div> -->
                    <div style="display: flex;justify-content: space-between;" class="border-b py-1 px-2" fxLayout="row" fxLayoutAlign="start center">
                        <h4>Manage Product attributes for selling channels</h4>
                        <button routerLink="/apps/add-formproduct" color="primary" mat-raised-button class="rounded-tr rounded-br float-right">
                          New 
                        </button>
                        <button color="primary" mat-raised-button class="float-right">
                           Refresh
                        </button>
                        <button style="background-color: red; color: white;" mat-raised-button class="float-right">
                           Close
                        </button>
                      </div>
                      <br>
                      <div>
                          <div class="table-responsive">
                              <table [dataSource]="dataSource" class="w-full top-30 left-13" mat-table matSort style="width: 100% !important;">
          
                                  <ng-container *ngFor="let column of columns">
                                      <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                                          <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                                      </ng-container>
                                  </ng-container>
          
                                  <ng-container matColumnDef="action">
                                      <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                                      <td *matCellDef="let row" mat-cell>
                                        <div >
                                          <button (click)="editAttribute( row['id'])" class="mr-4 font-10" 
                                              color="primary"
                                              mat-raised-button
                                              type="button"><mat-icon color="text-secondary" [icIcon]="icEdit"></mat-icon>
                                          </button>
                                          <button (click)="removeAttribute( row['id'])" class="mr-4 font-10" 
                                              color="primary"
                                              mat-raised-button
                                              type="button"><mat-icon color="text-secondary" [icIcon]="icRemove"></mat-icon>
                                          </button>
                                        </div>
                                      </td>
                                  </ng-container>
                      
                                  <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                                  <tr *matRowDef="let row; columns: visibleColumns;"
                                      @fadeInUp stagger60ms
                                      class="hover:bg-hover trans-ease-out cursor-pointer"
                                      mat-row></tr>
                      
                              </table>
                          </div>
                          <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
                      </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Attribute Set
                    </ng-template>
                    <div style="display: flex;justify-content: space-between;" class="border-b py-1 px-2" fxLayout="row" fxLayoutAlign="start center">
                        <h4>Manage Product attribute sets</h4>
                        <button style="background-color: blue; color: white;" mat-raised-button class="rounded-tr rounded-br float-right">
                          New Attribute Set
                        </button>
                        <button style="background-color: red; color: white;" mat-raised-button class="float-right">
                           Close
                        </button>
                      </div><br>
                    <div>
                        <div class="table-responsive">
                          
                            <table [dataSource]="dataSource_1" class="top-30 left-13" mat-table matSort>
                            
                            
                            <ng-container *ngFor="let column1 of columns_new">
                                <ng-container *ngIf="column1.type === 'text'" [matColumnDef]="column1.property">
                                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column1.label }}</th>
                                    <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column1.property] }}</td>
                                </ng-container>
                            </ng-container>
        
                            <ng-container matColumnDef="action">
                              <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                              <td *matCellDef="let row" mat-cell>
                                <div>
                                    <button (click)="editAttributeSet(row['id'])" class="mr-4 font-10" 
                                        color="primary"
                                        mat-raised-button
                                        type="button"><mat-icon color="text-secondary" [icIcon]="icEdit"></mat-icon>
                                    </button>
                                    <button (click)="removeAttributeSet( row['id'])" class="mr-4 font-10" 
                                        color="primary"
                                        mat-raised-button
                                        type="button"><mat-icon color="text-secondary" [icIcon]="icRemove"></mat-icon>
                                    </button>
                                </div>
                              </td>
                          </ng-container>
                    
                                <tr *matHeaderRowDef="visibleColumns_new; sticky: true" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: visibleColumns_new;"
                                    @fadeInUp stagger60ms
                                    class="hover:bg-hover trans-ease-out cursor-pointer"
                                    mat-row></tr>
                    
                            </table>
                        </div>
                        <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>