<div class="p-gutter" vexContainer>
    <div class="card">
        <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0 title" fxFlex="auto">Manage Users</h2>
            <button (click)="openModalAddUser()" class="rounded-tr rounded-br float-right small-icon-button" color="primary" mat-raised-button type="button" style="margin-right: 6px !important;">
              <mat-icon color="text-secondary" [icIcon]="icAdd"></mat-icon> New User
            </button>
          </div>
      
        <div class="py-5 px-5" fxLayout="row" fxLayout.lt-md="column">
            <table [dataSource]="dataSource" class="w-full top-30" mat-table matSort>
                        
                <!-- Checkbox Column -->
                <ng-container matColumnDef="checkbox">
                    <th *matHeaderCellDef mat-header-cell>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    color="primary">
                    </mat-checkbox>
                    </th>
                    <td *matCellDef="let row" class="w-4" mat-cell>
                    <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                    (click)="$event.stopPropagation()"
                                    [checked]="selection.isSelected(row)"
                                    color="primary">
                    </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container *ngFor="let column of columns">
                    <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                        <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                    </ng-container>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                    <td *matCellDef="let row" mat-cell>
                      <div class="flex">
                        <button (click)="openModalEditUser( row['name'], row['emailAddress'] )" class="rounded-tr rounded-br small-icon-button font-9" color="secondary" mat-raised-button type="button" style="margin-right: 6px !important;">
                            <mat-icon class="font-icon-9" color="text-secondary" [icIcon]="icEdit"></mat-icon> Edit
                        </button>

                        <button (click)="openModalPermission( row['roles'] )" class="rounded-tr rounded-br small-icon-button font-9" color="secondary" mat-raised-button type="button" style="margin-right: 6px !important;">
                            <mat-icon class="font-icon-9" color="primary" [icIcon]="icWarning"></mat-icon> Permission
                        </button>

                        <button class="rounded-tr rounded-br small-icon-button font-9" color="secondary" mat-raised-button type="button" style="margin-right: 6px !important;">
                            <mat-icon class="font-icon-9" color="primary" [icIcon]="icRemove"></mat-icon> Remove
                        </button>
                      </div>
                    </td>
                </ng-container>
    
                <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                <tr *matRowDef="let row; columns: visibleColumns;"
                    @fadeInUp stagger60ms
                    class="hover:bg-hover trans-ease-out cursor-pointer"
                    mat-row></tr>
    
            </table>
            <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
        </div>
    </div>
</div>