<div class="flex items-center" mat-dialog-title>
    <p class="flex-auto text-lg font-medium">View Message</p>
    <button mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
</div>
  
  <mat-dialog-content>
    
    <table class="w-full table">
        <tr>
            <th class="td-width-right">ID Message</th><th style="text-align: left;">{{ id }}</th>
        </tr>
        <tr>
            <th class="td-width-right">From</th><th style="text-align: left;">{{ from }}</th>
        </tr>
        <tr>
            <th class="td-width-right">Subject</th><td style="text-align: left;">{{ subject }}</td>
        </tr>
    </table>

  </mat-dialog-content>
  
  <mat-dialog-actions>
  
    <span class="flex-1"></span>

    <button mat-dialog-close mat-raised-button type="button" color="secondary">
      <mat-icon [icIcon]="icCancel" [inline]="true" size="16px"></mat-icon> Close
    </button>
  
    
  </mat-dialog-actions>
  